altair
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attr
Babel
beautifulsoup4
bleach
blinker
boto3
botocore
bs4==0.0.1
cached-property
cachetools
catboost
certifi
cffi
chardet
charset-normalizer
click
comm
contourpy
cycler
datapackage
DateTime
debugpy
decorator
defusedxml
et-xmlfile
executing
fastjsonschema
fonttools
fqdn
gitdb
GitPython
graphviz
h11
html5lib
idna
ijson
importlib-metadata
ipykernel
ipython
ipywidgets
isodate
isoduration
jedi
Jinja2
jmespath
joblib
json5
jsonlines
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kiwisolver
lab
linear-tsv
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openpyxl
outcome
overrides
packaging
pandas
pandocfilters
parso
pexpect
Pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
s3transfer
scikit-learn
scikit-plot
scipy
ScraperFC
seaborn
selenium
Send2Trash
simplejson
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
streamlit
tableschema
tabulator
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
trio
trio-websocket
txt2tags
types-python-dateutil
typing_extensions
tzdata
tzlocal
unicodecsv
uri-template
urllib3
validators
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wsproto
xgboost
xlrd
zipp
zope.interface
